{% extends "base.html" %}
{% load i18n %}

{% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% trans "蓝鲸开发框架" %}</title>
	{{ block.super }}
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
{% endblock %}

{% block content %}
<body class="bg-bright3" data-bg-color="bg-bright3">
    <div class="king-page-box">
        <div class="king-container clearfix">
            <div class="king-block king-block-bordered king-block-themed mb0">
                <div class="king-block-header king-info">
                    <ul class="king-block-options">
                        <li>
                            <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                        </li>
                    </ul>
                    <h3 class="king-block-title">信息查询、录入</h3>
                </div>
                <div class="king-block-content">
                    <form class="form-horizontal">
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">类别：</label>
                            <div class="col-sm-9">
                                <select name="" id="sort"  class="form-control bk-valign-top">
                                    <option value="" selected="selected"></option>
                                    <option value="选择项1">选择项1</option>
                                    <option value="选择项2">选择项2</option>
                                    <option value="选择项3">选择项3</option>
                                    <option value="选择项4">选择项4</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">主题：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control bk-valign-top" id="theme" placeholder="请输入相关主题"> </div>
                        </div>
                        <div class="form-group has-feedback clearfix ">
                            <label class="control-label col-sm-3 pt0" for="introduction">内容：</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="2" id="content"  placeholder="请输入相关内容"></textarea>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-sm-9 col-sm-offset-3">
                                <label>查询：</label>
                                <button type="button" class="king-btn king-default" onclick="search(this)">查询</button>
                                 &nbsp;&nbsp;&nbsp;
                                <label>录入：</label>
                                <button type="button" class="king-btn king-default"onclick="save_record(this)">提交</button>
                                <button type="button" class="king-btn king-default "onclick="cancel(this)">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="king-block king-block-bordered king-block-themed mb0">
                <div class="king-block-header king-info">
                    <ul class="king-block-options">
                        <li>
                            <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                        </li>
                    </ul>
                    <h3 class="king-block-title">信息展示</h3>
                </div>
                <div class="king-block-content">
                    <div class="container-fluid mb0 ">
                        <div class="row">
                            <div class="col-md-1">
                                 &nbsp;&nbsp;&nbsp;
                                <form action="{{ SITE_URL }}excel_upload/" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="file" name="mfile">
                                    <button type="submit" class="king-btn king-default " style="width:90px;height:30px">导入</button>
                                </form>
                                &nbsp;&nbsp;&nbsp;
                                <a href="" onclick="getkey(this)">
                                     <button  type="button" class="king-btn king-default "style="width:90px;height:30px" >导出</button>
                                </a>
                            </div>
                            <div class="col-md-11">
                                <div class="king-block-content">
                                    <div style="height:310px; overflow: auto;" id="list_1526104329322" class="king-list3 m0">
                                        <table class="king-list3-table ranger-box">
                                            <thead>
                                                <tr>
                                                    <th style="width:50px;text-align:center;vertical-align:middle;margin:auto">序号</th>
                                                    <th style="width:5%;text-align:center;vertical-align:middle;margin:auto">类别</th>
                                                    <th style="width:10%;text-align:center;vertical-align:middle;margin:auto">会议主题</th>
                                                    <th style="text-align:center;vertical-align:middle;margin:auto">会议内容</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td colspan="3"> 没有数据 </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!-- 设置面板Start -->
                                        <template id="ranger_nodata_tpl">
                                            <tr>
                                                <td colspan="3"> 没有数据 </td>
                                            </tr>
                                        </template>
                                        <template id="ranger_tpl">
                                            <tr>
                                                <td style="width:50px;">#id#</td>
                                                <td style="width:5%;text-align:center;vertical-align:middle;margin:auto">#sort#</td>
                                                <td style="width:10%;">#theme#</td>
                                                <td>#content#</td>
                                            </tr>
                                        </template>
                                        <!-- 设置面板End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}

{% block extra_block %}
<script>
    function renderTpl(str, cfg) {
            var re = /(#(.+?)#)/g;

            return str.replace(re, function() {
                var val = cfg[arguments[2]]+'';
                if(typeof val == 'undefined') {
                    val = '';
                }
                return val;
            });
        }

    /*
     * 取消键
     */
    function cancel(obj){
        let input1 = $("#theme");
        let input2 = $("#content");
        let input3 = $("#sort");
        input1.val("");
        input2.val("");
        input3.val("");
    }

    /*
     * 提交键
     */
    function save_record(obj){
        var sort = $('#sort').val();
        var theme = $('#theme').val();
        var content = $('#content').val();
        $.post('{{SITE_URL}}save_record/', {'sort':sort,'theme': theme, 'content': content}, function(data){
            console.log(data)
            if(data.result){
                initRanger({
                    url: '{{SITE_URL}}records/',
                    dataType: 'json',
                    container: '#list_1526104329322 .ranger-box tbody'
                });
                alert("提交成功")
            }else{
                alert(data.message)
            }
        }, 'json')
        let input1 = $("#theme");
        let input2 = $("#content");
        let input3 = $("#sort");
        input1.val("");
        input2.val("");
        input3.val("");
        return
    }

    function initRanger(conf){
        // 异步请求后台数据
        $.ajax({
            url: conf.url,
            type: 'GET',
            dataType: conf.dataType,
            success: function(res){
               // console.log("test")
                //获取数据成功
                if (res.code == 0){
                    var _html = ' ';
                    var list = res.data;
                    console.log(list)
                    var tpl =$('#ranger_tpl').html();
                    if (list.length == 0){
                        _html = $('#ranger_nodata_tpl').html();
                    }else{
                        for (var i=0,len=list.length; i < len; i++){
                            var item = list[i];
                            _html += renderTpl(tpl, item)
                        }
                    }
                    $(conf.container).html(_html);
                }
            }
        });
    }


    /*
    * 查询键
    */
    function search(obj){
        var sort = $('#sort').val();
        var theme = $('#theme').val();
        var content = $('#content').val();
        $.post('{{SITE_URL}}search/', {'sort':sort,'theme': theme, 'content': content}, function(data){
                if(data){
                    var _html = ' ';
                    var list = data;
                    console.log(list)
                    var tpl =$('#ranger_tpl').html();
                    if (list.length == 0){
                        _html = $('#ranger_nodata_tpl').html();
                    }else{
                        for (var i=0,len=list.length; i < len; i++){
                            var item = list[i];
                            _html += renderTpl(tpl, item)
                        }
                    }
                    $('#list_1526104329322 .ranger-box tbody').html(_html);

                    alert("查询成功")
                }else{
                    alert("获取失败")
                }
        }, 'json');
    }


// 导出键
    function getkey(a) {
        var pms = 'Key=' + document.getElementById("sort").value;
        var pns = 'name=' + document.getElementById("theme").value;
        a.href = '{{ SITE_URL }}export_excel/?' + pms+ '&'+ pns;
    }

</script>


<script>
    //获取会议记录
    initRanger({
            url: '{{SITE_URL}}records/',
            dataType: 'json',
            container: '#list_1526104329322 .ranger-box tbody'
        });
</script>
 {% endblock %}